html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}}
::-webkit-resizer { background-color: #666;}

body {
    font-family: "Montserrat", serif;
    text-align: center;
}

#title {
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('images/energy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    position: relative;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat',serif;
    font-weight: bold;
}

.top-container {
    position: relative;
    padding-top: 30px;
}

p {
    color: #8f8f8f;
}


.big-heading {
    font-size: 5rem;
    font-weight: 900;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('images/font.jpg');
	background-size: 770px 60px;
	background-attachment: unset;
	background-position: 60% -50%;
    padding: 1.5% 0 0 0;
}

.small-heading {
    color: #DDDDDD;
}


.section-heading {
    line-height: 1.5;
    font-size: 3rem;
}


.container-fluid {
  padding: 3% 15% 10%;
}


.custom-shape-divider-bottom-1660130580 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660130580 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}

.navbar {
    padding: 0 0 4.5rem;
    position: sticky;
}

.nav-item {
    padding: 0 12px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', serif;
    font-weight: 300;
}

.download-button {
    margin-top: 2%;
}

.title-image {
    width: 60%;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.about-me-text {
    padding: 0% 15%;
}

#about_me {
    padding: 4% 15%;
    background-color: #DAE1E7;
    color: #345B63;
    position: relative;
}

.about_me-title {
    font-weight: 600;
    font-size: 3rem;
    color: #152D35;
    padding-bottom: 5%;
}

.personal-image {
    width: 150px;
}


#education {
    color: #DDDDDD;
    padding: 10% 15%;
    background: url(images/Education-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #30475E;
    position: relative;
}






.shapedividers_com-9246{
overflow:hidden;
position:relative;
}
.shapedividers_com-9246::before{
content:'';
font-family:'shape divider from ShapeDividers.com';
position: absolute;
z-index: 3;
pointer-events: none;
background-repeat: no-repeat;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw;
background-size: 157% 65px;
background-position: 50% 0%;
transform: rotateY(180deg); background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%23dae1e7"><path d="M381 8.47L0 42.33V0h381z"/><path d="M381 33.87L0 59.27V0h381z" opacity=".33"/><path d="M381 59.27L0 77.25V0h381z" opacity=".33"/></g></svg>');
}

@media (min-width:2100px){
.shapedividers_com-9246::before{
background-size: 157% calc(2vw + 65px);
}
}






.education-list {
    padding: 15px;
}


#skills {
    background: rgb(41,40,55);
    background: linear-gradient(5deg, rgb(30,30,37) 5%, #20212b 20%, #21222e 40%, #21222e 60%, #20212b 80%, rgb(30,30,37) 95%);
    color: #DDDDDD;
    height: 600px;
}

#skills ul {
    padding-left: 15px;
}

.skills-title {
    padding: 5% 0% 0% 0%;
}

.skills-heading {
    padding-bottom: 40px;
    color: #fff;
	font-size: 3rem;
	font-weight: 900;
	text-shadow: 0 5px 15px rgba(0,0,0.5);
}

.carousel-item {
    padding: 4% 15%;
}

.carousel-image-big {
    width: 170px;
    padding-bottom: 10px;
}


.carousel-heading {
    padding-bottom: 20px;
}

.carousel-heading-padding {
    padding-left: 14px;
}

.carousel-inner {
    height: 580px;
}

.carousel-control-prev {
    width: 50px;
}

.carousel-control-next {
    width: 50px;
}

.second-carousel p {
    padding-bottom: 20px;
}

.third-carousel p {
    padding-bottom: 20px;
}

.fourth-carousel p {
    padding-bottom: 20px;
}



@media (max-width:990px) {

    #title {
        text-align: center;
        height: 710px;
    }

    #skills {
        height:950px;
    }
    .carousel-inner{
        height:930px;
    }

    .certificate-button {
        position: absolute;
        right: 80px;
        top: 110px;
    }




    .third-carousel .app-image-text {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .carousel-heading-padding {
        padding-bottom: 30px;
    }
}

@media (max-width:768px) {
    #skills {
        height:1300px;
    }
    .carousel-inner{
        height:1280px;
    }

    .carousel-shadow-box {
        width: 250px;
    }

    .carousel-item .row {
        justify-content: center;
    }

    .certificate-button {
        top: 20px;
        left: 0 !important;
        margin-bottom: 30px;
    }
    .logos-image {
        margin-right: 0 !important;
        position: relative;
        left: 0%;
        top: 0%;
    }

    .code-image {
        margin-right: 0px;
    }

    .second-carousel {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 60px;
    }

    .third-carousel {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 60px;
    }

    .fourth-carousel {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 60px;
    }

    .second-carousel p {
        text-align: center;
    }

    .carousel-heading-padding {
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 0px;
    }

    .third-carousel p {
        text-align: center;
    }

    .analysis-image {
        width: 500px;
    }

    .fourth-carousel p {
        text-align: center;
    }

    .app-image-text {
        padding-left: 0 !important;
    }

    .app-image-big {
        bottom: 0;
    }

}

@media (max-width:637px) {
    .app-title-analysis {
        bottom: 30px;
    }
}

.carousel-shadow-box {
    box-shadow: 0 5px 15px rgba(0,0,0.5);
    border-radius: 25px;
    margin: 10px 10px;
}

.carousel-shadow-box ul{
    list-style: none;
    text-align: left;
}

.left {
    text-align: left;
}

.right {
    float: right;
}

.app-image-big {
    width: 140px;
    height: 100%;
    position: relative;
    bottom: 40px;
}

.analysis-image {
    width: 80px;
    height: 100%;
}

.app-image {
    height: 100%;
    width: 40px;
    padding-right: 5px;
}

.app-image-website {
    height: 100%;
    width: 60px;
    padding-right: 7px;
    position: relative;
    bottom: 7px;
}

.app-image-text {
    max-width: 30%;
    padding-left: 14px;
    padding-bottom: 5px;
}

.app-title-analysis {
    position: relative;
    left: 10px;
    font-size: 3rem;
}

.app-title-big {
    position: relative;
    left: 10px;
    font-size: 3rem;
}

.skill-info {
    text-align: left;
}

.app-info-main {

}

.logos-image {
    position: relative;
    bottom: 4%;
    max-width: 300px;
    margin-right: 40px;
}

.code-image {
    max-width: 370px;
    position: relative;
    bottom: 4%;
}

.certificate-button {
    position: relative;
    left: 10%;
}

#footer {
    background-color: #DAE1E7;
    padding-top: 3%;
}

.footer-img {
    margin: 10px;
    margin-bottom: 30px;
}

.footer-link {
    color: #30475E;
}

.footer-link:hover {
    color: #F05454;
    position: relative;
    top: -5px;
    bottom: 10px;
}

.copyright-text {
    margin: 0%;
    padding-bottom: 2%;
}

#phone {
    background-image: url('images/phone.jpg');

     /* Full height */
    height: 100vh;

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.phone-number {
    color: #fff;
    font-size: 5rem;
    padding-top: 5%;
    letter-spacing: 3px;
}

#thankyou {
    background: url('images/energy.jpg');

     height: 100vh;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     padding-top: 310px;
}

#thankyou h1 {
    font-size: 4rem;
    color: #DDDDDD;
}

#thankyou h2 {
    color: #DDDDDD;
}

#contactme { background-color: #222831; }
#contactme form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #F05454;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #F05454; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#F05454;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#256D85; }

.blue {
    background-color: #80B3F2;
}
